Repository Skorch/future-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --unsafe --error-on-warnings, biome format --write

chore: add TypeScript config for pre-commit checks
  tsconfig.precommit.json
Due: biome format --write

chore: clean up test files and update gitignore
  .gitignore
  lib/test-precommit.ts
  multi-llm-support-plan.md
Due: biome check --write --unsafe --error-on-warnings, biome format --write

feat: add /spec command with comprehensive architecture workflow
  .claude/commands/spec.md
  .gitignore
Due: biome format --write

delete ach agent
  .claude/agents/architect.md
Due: biome format --write

fix: exclude markdown files from pre-commit Biome checks
  .claude/commands/spec.md
  .lintstagedrc.json
Due: biome format --write

feat: implement Claude 4 reasoning token handling with native API support
  app/(chat)/api/chat/route.ts
  app/(chat)/api/chat/schema.ts
  lib/ai/entitlements.ts
  lib/ai/models.ts
  lib/ai/prompts.ts
  lib/ai/providers.ts
  tests/fixtures.ts
  tests/helpers.ts
  tests/routes/chat.test.ts
Due: biome check --write --unsafe --error-on-warnings

feat: add document save to blob storage functionality
  .claude/agents/architecture-task-decomposer.md
  app/(chat)/api/document/[id]/save/route.ts
  components/artifact-actions.tsx
  components/document-preview.tsx
  components/message.tsx
  components/save-document-button.tsx
Due: biome check --write --unsafe --error-on-warnings, biome format --write

fix: update dynamic route parameters to Promise type for Next.js 15
  app/(chat)/api/document/[id]/save/route.ts
Due: biome check --write --unsafe --error-on-warnings

update to memory
  CLAUDE.md
Due: biome format --write

feat: implement RAG tools foundation (s01 & s02)
  .claude/agents/architecture-task-decomposer.md
  .claude/commands/create-sprint.md
  lib/ai/utils/rag-chunker.ts
  lib/ai/utils/transcript-parser.ts
  package.json
  pnpm-lock.yaml
  test-data/sample-document.md
  test-data/sample-fathom.txt
  test-data/sample-zoom.vtt
  test-data/test-rag-parser.ts
Due: biome check --write --unsafe --error-on-warnings, biome format --write

feat: implement RAG tools Phase 1 foundation layer
  __tests__/fixtures/edge-cases/empty.vtt
  __tests__/fixtures/edge-cases/malformed.txt
  __tests__/fixtures/edge-cases/unicode.vtt
  __tests__/fixtures/expected-outputs.ts
  __tests__/fixtures/mock-chunks.ts
  __tests__/fixtures/mock-transcript.ts
  lib/ai/types/rag-types.ts
  lib/ai/utils/rag-chunker.ts
  lib/ai/utils/transcript-parser.ts
  lib/rag/types.ts
  package.json
  scripts/setup-pinecone.ts
Due: biome check --write --unsafe --error-on-warnings, biome format --write

feat: implement RAG Phase 2 - PineconeClient and simplified chunker
  __tests__/unit/pinecone-client.test.ts
  __tests__/unit/rag-chunker.test.ts
  biome.jsonc
  lib/ai/utils/rag-chunker.ts
  lib/rag/pinecone-client.ts
Due: biome check --write --unsafe --error-on-warnings

feat: implement Phase 3 unit tests for RAG transcript parser
  __tests__/fixtures/transcript-samples.ts
  __tests__/unit/transcript-parser.test.ts
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: biome check --write --unsafe --error-on-warnings, biome format --write

feat: implement Phase 4 RAG tools (s08, s09)
  .claude/commands/code.md
  lib/ai/tools/index.ts
  lib/ai/tools/query-rag.ts
  lib/ai/tools/write-to-rag.ts
  lib/rag/pinecone-client.ts
  lib/rag/reranker.ts
  package.json
  pnpm-lock.yaml
  scripts/setup-pinecone.ts
  test-data/test-rag-parser.ts
Due: biome check --write --unsafe --error-on-warnings, biome format --write

feat: implement Phase 6 RAG tools (s12, s13, s15)
  __tests__/integration/rag-pipeline.test.ts
  app/(chat)/api/chat/route.ts
  lib/ai/tools/query-rag.ts
  lib/ai/tools/write-to-rag.ts
  lib/ai/utils/transcript-parser.ts
  lib/rag/pinecone-client.ts
  package.json
  scripts/rag-cli.ts
  scripts/setup-pinecone.ts
  test-data/sample.fathom
  test-data/sample.md
  test-data/sample.txt
  test-data/sample.vtt
  test-data/test-chunker-behavior.ts
Due: biome check --write --unsafe --error-on-warnings, biome format --write

fix: resolve Pinecone query filter error and adjust similarity threshold
  lib/rag/pinecone-client.ts
  lib/rag/types.ts
  scripts/rag-cli.ts
  scripts/test-query-debug.ts
Due: biome check --write --unsafe --error-on-warnings

feat: add comprehensive BI meeting test data for RAG system
  scripts/load-bi-meeting.ts
  scripts/rag-cli.ts
  scripts/test-bi-queries.ts
  test-data/bi-meeting.vtt
Due: biome check --write --unsafe --error-on-warnings

fix: improve RAG chunking test with timeout and progress feedback
  scripts/rag-cli.ts
Due: biome check --write --unsafe --error-on-warnings

feat: implement Phase 1 transcript RAG file upload expansion
  __tests__/unit/file-extractor.test.ts
  __tests__/unit/file-storage.test.ts
  app/(chat)/api/files/extract/route.ts
  app/(chat)/api/files/upload/route.ts
  components/multimodal-input.tsx
  lib/utils/file-content-extractor.ts
  lib/utils/file-storage.ts
Due: biome check --write --unsafe --error-on-warnings

feat: implement Phase 2 RAG tools - Summary Generation Enhancement
  __tests__/unit/create-document.test.ts
  __tests__/unit/file-upload.test.ts.skip
  __tests__/unit/summary-parser.test.ts
  app/(chat)/api/chat/schema.ts
  lib/ai/prompts.ts
  lib/ai/tools/create-document.ts
  lib/ai/utils/summary-parser.ts
Due: biome check --write --unsafe --error-on-warnings

fix: process text file content to avoid 'File URL data' error
  app/(chat)/api/chat/route.ts
  lib/ai/utils/file-processor.ts
Due: biome check --write --unsafe --error-on-warnings

fix: resolve meeting summary display and message processing issues
  lib/ai/tools/create-document.ts
  lib/ai/utils/file-processor.ts
Due: biome check --write --unsafe --error-on-warnings

fix: properly strip metadata from meeting summaries before display
  lib/ai/tools/create-document.ts
Due: biome check --write --unsafe --error-on-warnings

feat: implement lazy file loading with text-only approach
  app/(chat)/api/chat/route.ts
  artifacts/meeting-summary/server.ts
  components/multimodal-input.tsx
  debug-stream-status.js
  docs/plans/file-attachment-enhancement/architecture-spec.md
  docs/plans/file-attachment-enhancement/phase-1-tool-enhancement.md
  docs/plans/file-attachment-enhancement/phase-2-message-processing.md
  docs/plans/file-attachment-enhancement/phase-3-testing-validation.md
  lib/ai/prompts.ts
  lib/ai/tools/create-document.ts
  lib/ai/utils/file-processor.ts
  lib/artifacts/server.ts
  lib/utils.ts
  test-metadata-fix.js
Due: biome check --write --unsafe --error-on-warnings, biome format --write

chore: apply Biome formatting to remaining files
  app/(chat)/api/chat/route.ts
  artifacts/meeting-summary/server.ts
  biome.jsonc
  components/chat.tsx
  components/elements/prompt-input.tsx
  components/elements/tool.tsx
  components/message-actions.tsx
  components/message-reasoning.tsx
  components/messages.tsx
  components/multimodal-input.tsx
  components/preview-attachment.tsx
  components/sidebar-user-nav.tsx
  components/suggested-actions.tsx
  components/ui/avatar.tsx
  components/ui/badge.tsx
  components/ui/carousel.tsx
  components/ui/collapsible.tsx
  components/ui/hover-card.tsx
  components/ui/scroll-area.tsx
  debug-stream-status.js
  lib/ai/tools/create-document.ts
  lib/ai/utils/file-processor.ts
  lib/utils.ts
  test-metadata-fix.js
Due: biome check --write --unsafe --error-on-warnings

feat: strip unnecessary complexity from RAG system (s01 task)
  .claude/commands/architect.md
  CLAUDE.md
  __tests__/integration/rag-pipeline.test.ts
  __tests__/unit/create-document.test.ts.skip
  app/(chat)/api/chat/route.ts
  artifacts/code/client.tsx
  artifacts/code/server.ts
  artifacts/image/client.tsx
  artifacts/sheet/client.tsx
  artifacts/sheet/server.ts
  cleanup-artifacts.sh
  components/artifact.tsx
  components/document-preview.tsx
  lib/ai/prompts.ts
  lib/ai/tools/create-document.ts
  lib/ai/tools/index.ts
  lib/ai/tools/query-rag.ts
  lib/ai/tools/write-to-rag.ts
  lib/artifacts/server.ts
  lib/db/migrations/0007_add_document_metadata.sql
  lib/db/migrations/0008_update_kind_enum.sql
  lib/db/queries.ts
  lib/db/schema.ts
  lib/rag/pinecone-client.ts
Due: biome check --write --unsafe --error-on-warnings, biome format --write

feat: implement direct upload-to-document flow for transcripts
  app/(chat)/api/files/upload/route.ts
  components/multimodal-input.tsx
  lib/ai/prompts.ts
  lib/ai/tools/create-document.ts
Due: biome check --write --unsafe --error-on-warnings

fix: add database migration for metadata columns and improve error logging
  app/(chat)/api/files/upload/route.ts
  lib/db/migrations/0007_famous_warpath.sql
  lib/db/queries.ts
Due: biome check --write --unsafe --error-on-warnings

fix: correct RAG query tool configuration
  artifacts/meeting-summary/server.ts
  artifacts/text/server.ts
  components/artifact.tsx
  lib/ai/tools/query-rag.ts
  lib/ai/types/rag-types.ts
  lib/ai/utils/__tests__/transcript-parser-actual-fathom.test.ts
  lib/ai/utils/__tests__/transcript-parser-fathom.test.ts
  lib/ai/utils/rag-chunker.ts
  lib/ai/utils/transcript-parser.ts
  lib/artifacts/server.ts
  lib/db/__tests__/queries-rag.test.ts
  lib/db/migrations/meta/0007_snapshot.json
  lib/db/migrations/meta/_journal.json
  lib/db/queries.ts
  lib/db/schema.ts
  lib/rag/__tests__/sync-fathom.test.ts
  lib/rag/__tests__/sync-integration.test.ts
  lib/rag/__tests__/sync.test.ts
  lib/rag/pinecone-client.ts
  lib/rag/sync.ts
Due: biome check --write --unsafe --error-on-warnings, biome format --write

refactor: simplify queryRAG tool interface
  lib/ai/tools/query-rag.ts
Due: biome check --write --unsafe --error-on-warnings

feat: add user data reset feature with complete cleanup
  .env.example
  CLAUDE.md
  app/(auth)/api/reset-user-data/route.ts
  app/(chat)/api/chat/route.ts
  components/document-preview.tsx
  components/document-skeleton.tsx
  components/message.tsx
  components/sidebar-user-nav.tsx
  components/suggestion.tsx
  lib/ai/entitlements.ts
  lib/ai/models.ts
  lib/ai/providers.ts
  lib/ai/tools/query-rag.ts
  lib/artifacts/server.ts
  lib/db/queries.ts
  lib/db/schema.ts
  lib/errors.ts
  lib/rag/pinecone-client.ts
  lib/rag/reranker.ts
  lib/rag/sync.ts
  lib/rag/types.ts
  package.json
  pnpm-lock.yaml
  test-anthropic.js
  tests/e2e/session.test.ts
  tsconfig.json
Due: biome check --write --unsafe --error-on-warnings, biome format --write

feat: add batch document loading with intelligent guidance
  app/(chat)/api/chat/route.ts
  lib/ai/tools/index.ts
  lib/ai/tools/list-documents.ts
  lib/ai/tools/load-document.ts
  lib/ai/tools/load-documents.ts
  lib/db/queries.ts
Due: biome check --write --unsafe --error-on-warnings

fix: resolve TypeScript errors and improve type safety in production code
  app/(chat)/api/chat/route.ts
  artifacts/meeting-summary/server.ts
  lib/artifacts/server.ts
  lib/rag/sync.ts
Due: biome check --write --unsafe --error-on-warnings

fix: prevent transcript bloat in metadata and handle missing messages
  CLAUDE.md
  app/(chat)/actions.ts
  lib/ai/tools/list-documents.ts
  lib/ai/tools/load-document.ts
  lib/ai/tools/load-documents.ts
  lib/db/cleanup-metadata.ts
Due: biome check --write --unsafe --error-on-warnings, biome format --write

feat: add remaining UI improvements and token analysis utilities
  app/(chat)/api/chat/route.ts
  app/api/admin/cleanup-metadata/route.ts
  artifacts/meeting-summary/server.ts
  components/chat.tsx
  components/elements/document-tool-result.tsx
  components/elements/message.tsx
  components/elements/source.tsx
  components/elements/web-preview.tsx
  components/message.tsx
  components/multimodal-input.tsx
  components/preview-attachment.tsx
  components/sidebar-user-nav.tsx
  lib/ai/tools/create-document.ts
  lib/ai/utils/token-analyzer.ts
Due: biome check --write --unsafe --error-on-warnings

fix: exclude test and script directories from pre-commit TypeScript checks
  tsconfig.precommit.json
Due: biome format --write

gitignore
  .gitignore
  .vscode/settings.json
Due: biome format --write

refactor: simplify quick chat suggestions to focus on core functionality
  components/suggested-actions.tsx
Due: biome check --write --unsafe --error-on-warnings

feat: replace Pinecone reranking with Voyage AI for superior performance
  .env.example
  app/(chat)/api/chat/route.ts
  lib/ai/tools/query-rag.ts
  lib/rag/reranker.ts
  package.json
  pnpm-lock.yaml
Due: biome check --write --unsafe --error-on-warnings, biome format --write

feat: increase RAG search results from 15 to 50
  lib/ai/tools/query-rag.ts
Due: biome check --write --unsafe --error-on-warnings

Path conditions:
  biome check --write --unsafe --error-on-warnings: any of: *.{ts,tsx,js,jsx}
  biome format --write: any of: *.{json,md,css}
