Repository Skorch/future-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --unsafe --error-on-warnings, biome format --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["biome check --write --unsafe --error-on-warnings"],
  "*.{json,css}": ["biome format --write"]
}

feat: add LLM-powered reranking for RAG search results
  components/llm-rag-result.tsx
  components/message.tsx
  lib/ai/providers.ts
  lib/ai/tools/query-rag.ts
  lib/rag/llm-reranker.ts
Due: biome check --write --unsafe --error-on-warnings

fix: make LLM reranking topic groups work deterministically
  components/llm-rag-result.tsx
  components/message.tsx
  lib/ai/tools/query-rag.ts
  lib/ai/types/rag-types.ts
  lib/rag/llm-reranker.ts
Due: biome check --write --unsafe --error-on-warnings

feat: add OpenAI GPT-5 and GPT-4.1 support for LLM reranking
  lib/ai/providers.ts
  lib/rag/llm-reranker.ts
  package.json
  pnpm-lock.yaml
Due: biome check --write --unsafe --error-on-warnings, biome format --write

feat: enhance meeting summary prompts for dual-purpose knowledge assets
  artifacts/meeting-summary/index.ts
  artifacts/meeting-summary/metadata.ts
  artifacts/meeting-summary/prompts.ts
  artifacts/meeting-summary/server.ts
  lib/ai/prompts/agent-base.ts
  lib/ai/tools/create-document.ts
  lib/artifacts/index.ts
  lib/artifacts/server.ts
  lib/artifacts/types.ts
  pnpm-lock.yaml
Due: biome check --write --unsafe --error-on-warnings

refactor: improve meeting summary generation quality and accuracy
  artifacts/meeting-summary/prompts.ts
  artifacts/meeting-summary/server.ts
  lib/ai/prompts/artifact-system.ts
  lib/ai/providers.ts
  lib/artifacts/server.ts
Due: biome check --write --unsafe --error-on-warnings

refactor: improve decision documentation in meeting summaries
  artifacts/meeting-summary/prompts.ts
Due: biome check --write --unsafe --error-on-warnings

increase max duration to 5min for chat route handler
  app/(chat)/api/chat/route.ts
Due: biome check --write --unsafe --error-on-warnings

feat: implement two-mode agent system with discovery and build modes
  app/(auth)/auth.ts
  app/(chat)/actions.ts
  app/(chat)/api/chat/route.ts
  app/(chat)/api/chat/schema.ts
  app/(chat)/chat/[id]/page.tsx
  app/(chat)/page.tsx
  components/artifact-actions.tsx
  components/artifact.tsx
  components/chat.tsx
  components/create-artifact.tsx
  components/data-stream-handler.tsx
  components/mode-indicator.tsx
  components/model-selector.tsx
  components/multimodal-input.tsx
  lib/ai/modes/build.ts
  lib/ai/modes/discovery.ts
  lib/ai/modes/index.ts
  lib/ai/modes/types.ts
  lib/ai/tools/index.ts
  lib/ai/tools/set-mode.ts
  lib/ai/utils/file-processor.ts
  lib/ai/utils/token-analyzer.ts
  lib/db/migrations/0009_add_mode_system.sql
  lib/db/queries.ts
  lib/db/schema.ts
  lib/types.ts
Due: biome check --write --unsafe --error-on-warnings

fix: generate proper Drizzle migration for mode system columns
  lib/db/migrations/0008_cultured_archangel.sql
  lib/db/migrations/0009_add_mode_system.sql
  lib/db/migrations/meta/0008_snapshot.json
  lib/db/migrations/meta/_journal.json
Due: biome format --write

feat: add visual indicators for mode system UI
  app/(chat)/api/chat/route.ts
  components/chat.tsx
  components/message.tsx
  components/mode-indicator.tsx
  components/multimodal-input.tsx
  lib/ai/utils/transcript-parser.ts
Due: biome check --write --unsafe --error-on-warnings

fix: reduce maxDuration to 60s for Vercel compatibility
  app/(chat)/api/chat/route.ts
  components/elements/document-tool-result.tsx
  lib/db/queries.ts
Due: biome check --write --unsafe --error-on-warnings

refactor: simplify stopWhen type handling in streamText call
  __tests__/unit/set-mode.test.ts
  app/(chat)/api/chat/route.ts
  components/chat.tsx
  components/multimodal-input.tsx
  lib/ai/modes/types.ts
  lib/ai/tools/set-mode.ts
  lib/types.ts
Due: biome check --write --unsafe --error-on-warnings

feat: re-architect agent mode system with prepareStep and completion tracking
  .lintstagedrc.json
  app/(chat)/api/chat/route.ts
  app/api/admin/cleanup-metadata/route.ts
  components/chat.tsx
  lib/ai/modes/build.ts
  lib/ai/modes/discovery.ts
  lib/ai/modes/prepare-step.ts
  lib/ai/tools/set-complete.ts
  lib/ai/tools/set-mode.ts
  lib/db/migrations/0009_glorious_juggernaut.sql
  lib/db/migrations/meta/0009_snapshot.json
  lib/db/migrations/meta/_journal.json
  lib/db/queries.ts
  lib/db/schema.ts
Due: biome check --write --unsafe --error-on-warnings, biome format --write

feat: implement askUser tool for interactive user input
  app/(chat)/api/chat/route.ts
  components/message.tsx
  lib/ai/modes/build.ts
  lib/ai/modes/discovery.ts
  lib/ai/prompts.ts
  lib/ai/tools/ask-user.ts
  lib/ai/tools/index.ts
  lib/types.ts
Due: biome check --write --unsafe --error-on-warnings

fix: resolve 60-second timeout in createDocument tool for meeting summaries
  .env.example
  artifacts/meeting-summary/server.ts
  lib/ai/providers.ts
  lib/ai/tools/create-document.ts
Due: biome check --write --unsafe --error-on-warnings

feat: add large paste handling and improve document creation
  app/(chat)/api/chat/route.ts
  app/(chat)/api/document/route.ts
  components/artifact.tsx
  components/data-stream-handler.tsx
  components/multimodal-input.tsx
  lib/ai/modes/prepare-step.ts
  lib/constants.ts
Due: biome check --write --unsafe --error-on-warnings

fix: mode indicator now displays correctly in new chats
  components/chat.tsx
  components/multimodal-input.tsx
Due: biome check --write --unsafe --error-on-warnings

feat: Complete Phase 3 Route Restructuring - workspace-scoped routing
  app/(chat)/api/chat/[id]/route.ts
  app/(chat)/api/chat/[id]/stream/route.ts
  app/(chat)/api/chat/[id]/vote/route.ts
  app/(chat)/api/workspace/[workspaceId]/chat/route.ts
  app/(chat)/api/workspace/[workspaceId]/chat/schema.ts
  app/(chat)/api/workspace/[workspaceId]/documents/[id]/save/route.ts
  app/(chat)/api/workspace/[workspaceId]/documents/route.ts
  app/(chat)/api/workspace/[workspaceId]/history/route.ts
  app/(chat)/api/workspace/[workspaceId]/suggestions/route.ts
  app/(chat)/layout.tsx
  app/(chat)/workspace/[workspaceId]/chat/[id]/page.tsx
  app/(chat)/workspace/[workspaceId]/layout.tsx
  app/(chat)/workspace/[workspaceId]/page.tsx
  app/page.tsx
  components/app-sidebar.tsx
  components/artifact-actions.tsx
  components/artifact.tsx
  components/chat.tsx
  components/document-preview.tsx
  components/message-actions.tsx
  components/message.tsx
  components/messages.tsx
  components/save-document-button.tsx
  components/sidebar-history-item.tsx
  components/sidebar-history.tsx
  components/version-footer.tsx
  hooks/use-chat-visibility.ts
  lib/db/queries.ts
  middleware.ts
Due: biome check --write --unsafe --error-on-warnings

fix: resolve TypeScript and linting issues for pre-commit checks
  app/(chat)/api/chat/[id]/stream/route.ts
  app/(chat)/api/workspace/[workspaceId]/chat/route.ts
  app/(chat)/api/workspace/[workspaceId]/route.ts
  app/(chat)/api/workspace/[workspaceId]/stats/route.ts
  app/(chat)/api/workspace/create/route.ts
  app/(chat)/api/workspace/route.ts
  app/(chat)/api/workspace/switch/route.ts
  components/app-sidebar.tsx
  components/artifact-messages.tsx
  components/artifact.tsx
  components/chat.tsx
  components/document-preview.tsx
  components/document.tsx
  components/message-actions.tsx
  components/message.tsx
  components/messages.tsx
  components/multimodal-input.tsx
  components/sheet-editor.tsx
  components/sidebar-history.tsx
  components/suggested-actions.tsx
  components/workspace-dialogs.tsx
  components/workspace-switcher.tsx
  hooks/use-artifact.ts
  lib/ai/modes/build.ts
  lib/db/queries.ts
  lib/errors.ts
  lib/rag/embeddings.ts
  lib/rag/pinecone-client.ts
  lib/rag/sync.ts
  lib/workspace/context.ts
  lib/workspace/queries.ts
  package.json
  scripts/reindex-rag-direct.ts
  scripts/test-rag-indexing.ts
Due: biome check --write --unsafe --error-on-warnings, biome format --write

fix: update pnpm-lock.yaml to sync with package.json
  pnpm-lock.yaml
Due: none

feat: add cascade delete to foreign key constraints
  .lintstagedrc.json
  lib/db/migrations/0002_woozy_monster_badoon.sql
  lib/db/migrations/0003_tearful_mysterio.sql
  lib/db/migrations/meta/0002_snapshot.json
  lib/db/migrations/meta/0003_snapshot.json
  lib/db/migrations/meta/_journal.json
  lib/db/schema.ts
Due: biome check --write --unsafe --error-on-warnings, biome format --write

await the signIn to prevent race condition
  app/(auth)/api/auth/guest/route.ts
Due: biome check --write --unsafe --error-on-warnings

fix: migrate to @vercel/postgres for serverless transaction reliability
  app/(chat)/api/workspace/[workspaceId]/stats/route.ts
  lib/db/queries.ts
  lib/workspace/queries.ts
Due: biome check --write --unsafe --error-on-warnings

fix: remove transaction wrapper from createGuestUser to fix race condition
  lib/db/queries.ts
Due: biome check --write --unsafe --error-on-warnings

fix: remove transaction wrapper from createUser for consistency
  lib/db/queries.ts
Due: biome check --write --unsafe --error-on-warnings

switching to voyage re-ranker
  components/llm-rag-result.tsx
  components/message.tsx
  lib/ai/tools/query-rag.ts
  lib/rag/reranker.ts
Due: biome check --write --unsafe --error-on-warnings

fix: resolve production build errors
  .eslintrc.json
  app/(chat)/api/workspace/[workspaceId]/chat/route.ts
  app/(chat)/welcome/page.tsx
  app/api/webhooks/clerk/route.ts
  components/sidebar-user-nav.tsx
  lib/workspace/actions.ts
Due: biome check --write --unsafe --error-on-warnings, biome format --write

fix for singing up via signin
  app/(auth)/login/[[...login]]/page.tsx
Due: biome check --write --unsafe --error-on-warnings

disable stopwhen for setComplete
  app/(chat)/api/workspace/[workspaceId]/chat/route.ts
Due: biome check --write --unsafe --error-on-warnings

refactor: reduce logger.info noise by 67% for cleaner production logs
  app/(chat)/api/files/upload/route.ts
  artifacts/meeting-summary/server.ts
  components/data-stream-handler.tsx
  lib/ai/modes/prepare-step.ts
  lib/ai/providers.ts
  lib/ai/tools/create-document.ts
  lib/ai/tools/list-documents.ts
  lib/ai/tools/load-document.ts
  lib/ai/tools/load-documents.ts
  lib/ai/tools/query-rag.ts
  lib/ai/utils/token-analyzer.ts
  lib/db/queries.ts
  lib/logger/index.ts
  lib/rag/embeddings.ts
  lib/rag/llm-reranker.ts
  lib/rag/pinecone-client.ts
  lib/rag/sync.ts
Due: biome check --write --unsafe --error-on-warnings

feat: implement demo workspace cloning for new user onboarding
  .env.example
  CLAUDE.md
  app/(chat)/welcome/loading.tsx
  app/(chat)/welcome/page.tsx
  app/(chat)/welcome/welcome-content.tsx
  app/(chat)/welcome/welcome-error.tsx
  components/workspace-dialogs.tsx
  lib/db/demo-data.ts
  lib/workspace/queries.ts
  package.json
  pnpm-lock.yaml
  test-demo-workspace.ts
Due: biome check --write --unsafe --error-on-warnings, biome format --write

refactor: overhaul agent prompting system for business-focused proactive discovery
  app/(chat)/api/workspace/[workspaceId]/chat/route.ts
  artifacts/meeting-summary/server.ts
  lib/ai/modes/build.ts
  lib/ai/modes/discovery.ts
  lib/ai/prompts.ts
  lib/ai/prompts/agent-base.ts
  lib/ai/prompts/domains/document-generation.ts
  lib/ai/prompts/domains/meeting-intelligence.ts
  lib/ai/prompts/domains/meeting-summary-generation.ts
  lib/ai/prompts/modes/build.ts
  lib/ai/prompts/modes/discovery.ts
  lib/ai/prompts/system.ts
  lib/ai/prompts/tools/ask-user.ts
  lib/ai/prompts/tools/query-rag.ts
  lib/ai/tools/ask-user.ts
  lib/ai/tools/query-rag.ts
  lib/artifacts/server.ts
Due: biome check --write --unsafe --error-on-warnings

fix: resolve no-console lint errors in production build
  .lintstagedrc.json
  lib/ai/prompts.ts
Due: biome check --write --unsafe --error-on-warnings, biome format --write

feat: Phase 2 - Transform tools to pure dispatchers and fix duplicate document issue
  __tests__/unit/artifacts/registry.test.ts
  __tests__/unit/artifacts/server.test.ts
  components/artifact.tsx
  components/llm-rag-result.tsx
  components/message.tsx
  lib/ai/prompts.ts
  lib/ai/providers.ts
  lib/ai/tools/create-document.ts
  lib/ai/tools/list-documents.ts
  lib/ai/tools/load-document.ts
  lib/ai/tools/load-documents.ts
  lib/ai/tools/query-rag.ts
  lib/ai/tools/update-document.ts
  lib/ai/types/rag-types.ts
  lib/artifacts/document-types/meeting-memory/index.ts
  lib/artifacts/document-types/meeting-memory/metadata.ts
  lib/artifacts/document-types/meeting-memory/prompts.ts
  lib/artifacts/document-types/meeting-memory/server.ts
  lib/artifacts/document-types/text/client.tsx
  lib/artifacts/document-types/text/index.ts
  lib/artifacts/document-types/text/metadata.ts
  lib/artifacts/document-types/text/server.ts
  lib/artifacts/index.ts
  lib/artifacts/server.ts
  lib/db/queries.ts
  lib/db/schema.ts
  lib/rag/sync.ts
Due: biome check --write --unsafe --error-on-warnings

fix: prevent agent from auto-calling updateDocument after createDocument
  lib/ai/prompts/modes/build.ts
  lib/ai/prompts/system.ts
  lib/ai/tools/create-document.ts
  lib/ai/tools/update-document.ts
Due: biome check --write --unsafe --error-on-warnings

feat: Improve meeting memory conciseness and prevent agent regeneration
  lib/ai/prompts.ts
  lib/ai/prompts/domains/meeting-intelligence.ts
  lib/ai/prompts/domains/meeting-summary-generation.ts
  lib/ai/prompts/modes/build.ts
  lib/ai/tools/create-document.ts
  lib/artifacts/document-types/meeting-memory/metadata.ts
  lib/artifacts/document-types/meeting-memory/prompts.ts
  lib/artifacts/document-types/meeting-memory/server.ts
  lib/artifacts/document-types/text/metadata.ts
  lib/artifacts/document-types/text/server.ts
  lib/artifacts/types.ts
  lib/rag/embeddings.ts
  lib/rag/pinecone-client.ts
Due: biome check --write --unsafe --error-on-warnings
